<nav class="navbar navbar-default" role="navigation" ng-controller="homepage_control">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">gosvg.in</a>
    </div>
  </div><!-- /.container-fluid -->
</nav>





